{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"

  },
  "rules": {
    "prefer-const": 1,
    "prefer-reflect": 1,
    "require-yield": 2,
    "comma-dangle": [1,"never"],
    "no-cond-assign": [2,"always"],
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 1,
    "no-extra-parens": [1,"all"],
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": [2,"both"],
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-typeof": 2,
    "no-unexpected-multiline": 2,
    "complexity": [1,7],
    "consistent-return": 1,
    "curly": [1,"all"],
    "default-case": 2,
    "eqeqeq": [2,"smart"],
    "guard-for-in": 1,
    "no-alert": 2,
    "no-else-return": 2,
    "no-eval": 2,
    "brace-style": [1,"1tbs",{"allowSingleLine":true}],
    "camelcase": [0,{"properties":"never"}],
    "no-mixed-spaces-and-tabs": [2,"smart-tabs"],
    "no-nested-ternary": 2,
    "no-var": 2
  }
}