@import "../../../style/default/palette.scss";

.main {
  display: table;
  height: 100%;
  width: 100%;
}

.main_left {
  display: table-cell;
  height: 100%;
}

.main_right {
  height: 100%;
  display: table-cell;
  border-left: 1px solid #000;
  vertical-align: top;

  .panel {
    border: 1px solid $dark-2;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}