.table {
    display: table;
    width: 90%;
}

.table-row {
    vertical-align: middle;
    display: table-row;
}

.table-left {
    display: table-cell;
    vertical-align: middle;
}

.table-right {
    display: table-cell;
}
.valign-middle {
    vertical-align: middle;
}